body{
  margin:0;
  height:100vh;
  background:url("sunflower.jpg") no-repeat center/cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:cursive;
}

#birthdayText{
  font-size:70px;
  color:#fff;
  text-shadow:2px 2px 10px black;
}

#surpriseBtn{
  display:none;
  margin-top:40px;
  padding:20px 50px;
  font-size:35px;
  border:none;
  border-radius:15px;
  background:blue;
  color:white;
  cursor:pointer;
  box-shadow:0 0 20px cyan;
  animation:glow 1s infinite alternate;
}

@keyframes glow{
  from{box-shadow:0 0 10px cyan;}
  to{box-shadow:0 0 30px cyan;}
}
