body{
  margin:0;
  height:100vh;
  background:url("sunflower.jpg") no-repeat center/cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:cursive;
  overflow:hidden;
}

#birthdayText{
  font-size:80px;
  color:white;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
  animation: float 2s infinite alternate;
}

@keyframes float{
  from{ transform:translateY(0);}
  to{ transform:translateY(-20px);}
}

#surpriseBtn{
  display:none;
  margin-top:40px;
  padding:20px 60px;
  font-size:40px;
  border:none;
  border-radius:20px;
  background:linear-gradient(45deg,#00f,#0ff);
  color:white;
  cursor:pointer;
  animation: glow 1s infinite alternate;
}

@keyframes glow{
  from{ box-shadow:0 0 10px cyan;}
  to{ box-shadow:0 0 30px cyan;}
}
