body{
  margin:0;
  height:100vh;
  background: url("sunflower.jpg") no-repeat center/cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:cursive;
  overflow:hidden;
}

/* typing text */
#typing{
  font-size:80px;
  color:#8b0000;
  background:rgba(255,255,255,0.7);
  padding:20px 40px;
  border-radius:20px;
}

/* surprise button */
#surpriseBtn{
  margin-top:40px;
  padding:20px 60px;
  font-size:50px;
  border:none;
  border-radius:20px;
  background:blue;
  color:white;
  cursor:pointer;
  display:none;
  animation: glow 1s infinite alternate;
}

@keyframes glow{
  from{ box-shadow:0 0 10px cyan; }
  to{ box-shadow:0 0 30px cyan; }
}
